@import url('https://fonts.googleapis.com/css?family=Comfortaa');

h1 {
	
    color: #f5a425;	
	font-size: 36px;
    text-transform: uppercase;
    font-weight: 800;
}
body{
	margin:0;
	font-family: sans-serif;
}
.box-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.single-box{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 350px;
	border-radius: 4px;
	background-color: #f5a425;
	text-align: center;
	margin: 20px;
	padding: 20px;
	transition: .3s;
	margin-top: 180px;
}
.img-area {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	border: 6px solid #ddd;
	border-radius: 50%;
	margin-bottom: 10px;
	padding: 20px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}

.header-text{
	font-size: 24px;
	font-weight: 500;
	line-height: 48px;
}
.img-text {
	font-family: sans-serif;
	
}
.img-text p{
	
	font-size: 15px;
	font-weight: 800;
	line-height: 30px;
	font-family: sans-serif;
	color: rgba(22,34,57,0.95);
}
.single-box:hover{
	background: #f5a425;
	color: #fff;
}
*{
	box-sizing: border-box;
}
.div.name {
	width: 100%;
}

.thumbnail-slider{
	width: 92%;
	float: left;
	overflow: flex;
	margin-top: 20px;
}

.thumbnail-slider .thumbnail-container{
	width: 100%;
	float: left;
	transition: margin 1s ease;
}

.thumbnail-slider .item{
  
  height: 490px;
  background-color: white;
  line-height: 250px;
  text-align: center;
  font-size: 50px;
  color:#ffffff;
  float: left;
  margin-top: 80px;
  display: block;
  border-radius: 25px;
  
  }

.thumbnail-slider .controls{
	width: 100%;
	float: left;
	padding:15px;
}

.thumbnail-slider .controls ul{
	display: block;
	text-align: center;
	padding:0;
	margin-top: 75px;
	list-style: none;
	margin-left: 200px;
	
}
.thumbnail-slider .controls ul li{
	height: 35px;
	width: 35px;
	border:1px solid #c3c3c3;
	margin:4px;
	display: inline-block;
	line-height: 33px;
	cursor: pointer;
	
}
.thumbnail-slider .controls ul li.active{
	background-color: #f5a425;
	color:#ffffff;

}
.wrapper{
	position: absolute;
    top: 15%;
    margin-left: 84%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0,0.6);
    max-width: 550px;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
	
}

.wrapper .input {
    width: 85%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
	opacity: 1.0;
}

.searchbtn {
    background: #f5a425;
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.searchbtn .fas{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}



 


